In [ ]:
# NumPy, Pandas, Matplotlib or Seaborn or Plotly

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
x = np.random.normal(size=10)  # 10 random numbers

In [ ]:
x

In [ ]:
# 2 * x     # Elementwise multiplication

In [ ]:
# Linear relationship with noise
y = 2 * x + np.random.normal(size=10)

In [ ]:
y

In [ ]:
data = {
    "x_variable": x,
    "y_variable": y
}

In [ ]:
dataset = pd.DataFrame(data)

In [ ]:
dataset

In [3]:
dataset.to_csv("datasets/dataset-03.csv")

In [ ]:
# reproducibility
np.random.seed(1)

x = np.random.normal(size=10) 
y = 2 * x + np.random.normal(size=10)

In [ ]:
x

In [ ]:
y

In [ ]:
new_dataset = pd.DataFrame({"x": x, "y": y})

In [ ]:
new_dataset.to_csv("datasets/dataset-03.csv", index=True)

In [ ]:
dataset = pd.read_csv("datasets/dataset-03.csv")

In [ ]:
# EDA - Exploratory Data Analysis

In [ ]:
dataset.drop(["Unnamed: 0"], axis=1, inplace=True)

In [ ]:
dataset

In [ ]:
# plt.plot(dataset["x"], dataset["y"], "*")

In [ ]:
plt.scatter(dataset["x"], dataset["y"])
plt.show()

In [ ]:
# Linear relationship with noise

np.random.seed(1)
years_experience = np.random.randint(low=1, high=11, size=30)
salaries = 5000 * years_experience + np.random.randint(low=-2000, high=2000, size=30)

In [ ]:
years_experience

In [ ]:
salaries

In [ ]:
dataset = pd.DataFrame(data=[[2, 5, 7], [1, 6, 7]], columns=["x", "y", "z"])

In [ ]:
dataset

In [4]:
dataset = pd.DataFrame(data=[[2, 5, 7], [1, 6, 7]], columns=["x", "y", "z"], index=["a", "b"])

In [5]:
dataset

   x  y  z
a  2  5  7
b  1  6  7

In [ ]:
info = {
    "Name": ["Rizwan", "Ali", "Ahmed"],
    "Age": [31, 30, 35]
}

In [ ]:
dataset = pd.DataFrame(info)

In [ ]:
dataset

In [ ]:
# Linear relationship with noise

np.random.seed(1)
years_experience = np.random.randint(low=1, high=11, size=30)
salaries = 5000 * years_experience + np.random.randint(low=-2000, high=2000, size=30)

In [ ]:
dataset = pd.DataFrame({"YearsExperience": years_experience, "Salaries": salaries})

In [ ]:
dataset.to_csv("datasets/dataset-04.csv", index=False)